.tit_page {
  overflow: hidden;
  width: 1050px;
  margin: 0 auto;
  padding: 50px 0 51px;
}
.tit_page h2.tit {
  font-weight: 700;
  font-size: 28px;
  color: #333;
  line-height: 35px;
  text-align: center;
  letter-spacing: -1px;
}
#main {
  border-bottom: 1px solid #f7f7f7;
}
#content {
  min-width: 1050px;
  padding-bottom: 60px;
}
#header,
#container,
#content {
  position: relative;
}
.layout-wrapper {
  position: relative;
  width: 1050px;
  height: 100%;
  margin: 0 auto;
}
.boardView {
  table-layout: fixed;
  border-top: 2px solid #333;
  border-bottom: 1px solid #f4f4f4;
  color: #333;
  line-height: 180%;
  margin-top: 20px;
}
.boardView th {
  width: 130px;
  padding: 13px 0 13px 20px;
  background-color: #f7f5f8;
  border-top: 1px solid #f4f4f4;
  text-align: left;
}
.boardView tr.etcArea ul .td {
  float: left;
  padding: 13px 0 13px 20px;
  width: 180px;
}
.boardView tr.etcArea ul {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #f4f4f4;
}
.boardView tr.etcArea ul .th {
  float: left;
  padding: 13px 0 13px 20px;
  width: 130px;
  background-color: #f7f5f8;
}
.boardView tr.etcArea ul li {
  float: left;
}
.boardView tr.etcArea td {
  padding: 0;
  border: 0;
}
.boardView td {
  width: auto;
  padding: 13px 0 13px 23px;
  border-top: 1px solid #f4f4f4;
}
.view_recipe {
  padding: 150px 10px 10px;
}
.goods_wrap {
  width: 1010px;
  margin: 0 auto;
  font-family: noto sans;
  font-weight: 200;
  letter-spacing: 0;
}
.goods_wrap .goods_recipe .recipe_tit {
  display: block;
  padding-bottom: 30px;
  font-family: noto sans;
  font-weight: 700;
  color: #666;
  text-shadow: 2px 0;
}
.goods_wrap .goods_recipe .recipe_product {
  display: inline-block;
  border-top: 1px solid #b1b1b1;
  padding-top: 30px;
  min-width: 342px;
  font-size: 34px;
  line-height: 38px;
  font-weight: 400;
  text-shadow: 1px 0;
}
.goods_wrap .goods_recipe h3 {
  display: block;
  font-family: noto sans;
  font-weight: 700;
  padding-bottom: 70px;
  font-size: 50px;
  line-height: 46px;
  text-align: center;
  color: #666;
}
.goods_wrap .context {
  margin-bottom: 130px;
}
.goods_wrap .context .words {
  margin-top: 55px;
  font-size: 18px;
  line-height: 32px;
  color: #373737;
}
.goods_wrap .goods_recipe .recipe_item_tit {
  display: block;
  padding-bottom: 20px;
  font-size: 24px;
  font-family: noto sans;
  font-weight: 700;
  color: #666;
  text-shadow: 1px 0;
}
.goods-add-product {
  margin-bottom: 50px;
}
.goods-add-product {
  position: relative;
}
.__slide-wrapper {
  position: relative;
  overflow: hidden;
}
.goods-add-product-item-image {
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 수직 중앙 정렬 */
  left: 50%; /* 수평 중앙 정렬 */
  width: 100%; /* 너비를 컨테이너에 맞춤 */
  height: 100%; /* 높이를 컨테이너에 맞춤 */
  object-fit: cover; /* 이미지 비율 유지 및 크롭 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위해 이미지 이동 */
  display: block; /* 이미지 주위에 여백을 없애기 위해 */
}
.goods-add-product-item-content-wrapper {
  padding: 10px;
  position: relative;
  min-height: 75px;
}
.goods-add-product-item-content {
  height: 120px;
}
.__slide-mover {
  position: absolute;
  left: 0;
  width: 10000%;
  height: 100%;
}
.goods-add-product-list {
  width: 10000%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.goods-add-product {
  margin-bottom: 50px;
}
.goods-add-product {
  position: relative;
}
.__slide-wrapper {
  position: relative;
  overflow: hidden;
}
.goods-add-product-wrapper {
  position: relative;
  margin-top: 20px;
}
.goods-add-product-move.goods-add-product-move-left {
  left: 0;
  background-image: url(https://res.kurly.com/pc/etc/old/images/common/slide-sub-left-button-black.png);
  background-position: left;
}
.goods-add-product-move {
  height: 35px !important;
}
.goods-add-product-move {
  position: absolute;
  text-indent: -9999px;
  background-color: transparent;
  border: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  z-index: 3;
  width: 30px;
  background-position: 50% 50%;
}
.goods-add-product-move.goods-add-product-move-right {
  right: 0;
  background-image: url(https://res.kurly.com/pc/etc/old/images/common/slide-sub-right-button-black.png);
  background-position: right;
}
.goods-add-product-move {
  height: 35px !important;
}
.goods-add-product-move {
  position: absolute;
  text-indent: -9999px;
  background-color: transparent;
  border: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  z-index: 3;
  width: 30px;
  background-position: 50% 50%;
}
.goods-add-product-list-wrapper {
  position: relative;
  overflow: hidden;
  width: 940px;
  margin: 0 auto;
  height: 350px;
}
.__slide-mover {
  position: absolute;
  left: 0;
  width: 10000%;
  height: 100%;
}
.goods-add-product-list {
  width: 10000%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.__slide-item {
  float: left;
  height: 100%;
}
.goods-add-product-item {
  float: left;
  width: 180px;
  height: 100%;
  margin-right: 10px;
  border: 1px solid #ddd;
}
.goods-add-product-item-figure {
  position: relative;
  height: 230px;
  overflow: hidden;
}
.goods-add-product-item-figure a {
  display: block;
}
.goods-add-product .btn_cart {
  display: block;
  overflow: hidden;
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  border: 0 none;
  background: url(https://res.kurly.com/pc/service/common/1908/ico_list_add_cart.png)
    no-repeat 50% 50%;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.bhs_button.yb {
  background-color: rgb(128, 183, 89);
  color: #fff;
}
.bhs_button {
  width: 150px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  background-color: rgb(128, 183, 89);
  border: 1px solid rgb(102, 153, 51);
  color: #fff;
  font-size: 15px;
  float: right;
  margin-left: 2px;
  font-size: 13px;
}
.xans-board-movement {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  margin: 20px 0;
}
.xans-board-movement li {
  overflow: hidden;
  padding: 0 20px;
  border-bottom: 1px solid #f4f4f4;
  line-height: 140%;
  color: #333;
}
.xans-board-movement li a,
.xans-board-movement li strong {
  float: left;
  padding: 10px;
}
.xans-board-movement li strong {
  width: 6%;
  padding-left: 15px;
  border-right: 1px solid #f4f4f4;
  font-weight: 400;
  background: url(https://res.kurly.com/pc/etc/old/images/board/ico_move_prev.gif)
    no-repeat 0 15px;
}
.xans-board-movement li {
  overflow: hidden;
  padding: 0 20px;
  border-bottom: 1px solid #f4f4f4;
  line-height: 140%;
  color: #333;
}
.xans-board-movement li.next {
  border: 0;
}
.xans-board-movement li {
  overflow: hidden;
  padding: 0 20px;
  border-bottom: 1px solid #f4f4f4;
  line-height: 140%;
  color: #333;
}
.xans-board-movement li.next strong {
  background: url(https://res.kurly.com/pc/etc/old/images/board/ico_move_next.gif)
    no-repeat 0 15px;
}
.xans-board-movement li a,
.xans-board-movement li strong {
  float: left;
  padding: 10px;
}
.xans-board-movement li strong {
  width: 6%;
  padding-left: 15px;
  border-right: 1px solid #f4f4f4;
  font-weight: 400;
  background: url(https://res.kurly.com/pc/etc/old/images/board/ico_move_prev.gif)
    no-repeat 0 15px;
}
